body{
    background-color: rgb(206, 206, 206);
    margin:0px;
    color:black;
    font-family:'Inter', sans-serif;
}
img{
    position:absolute;
    top:-50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.div:not(.muk){
    margin-left:600px;
    margin-right:600px;
    margin-top:50px;
    font-size: 23px;
}
hr{
    margin-top:100px;
    width:70%;
    height:2px;
    border:none;
    background-color: rgb(114, 114, 114);
}
.tg{
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    font-size: 23px;
}
th{
    height:30px;
    font-weight:bold;
    background-color:#bbbbbb;text-align:center;vertical-align:middle;   
}
.ok{
    margin-left:80px;
    border-radius: 16px;
}
.mukodes:not(.muk){
    text-align: justify;
    display: flex;
    align-items: center; 
}
button{
    margin-left:500px;
    border-radius:5px;
    text-decoration: none;
    padding:10px;
    font-size: 18px;
    text-align: center;
    background-color: rgb(182, 181, 181);
}
button:hover{
    background-color: rgb(114, 114, 114);
    color:rgb(202, 202, 202);
}
h1{
    text-shadow: rgb(194, 3, 19) 3px 0 5px;
    text-align: center;
    font-size: 44px;
}
h2{
    text-align: center;
}
